//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the input component.
// -----------------------------------------------------------------------------

.form-control {
  margin: 0 30px 20px 0;
  width: 400px;
  height: 62px;

  color: $white;

  background-color: transparent;
  border-radius: 12px;

  &:focus {
    background: transparent;
  }
  
  &:active {
    background: transparent;
  }

}

.text-area {
  margin: 0 0 31px 0;
  width: 830px;
  height: 130px;
  
  color: $white;

  background-color: transparent;
  border-radius: 12px;
}

@include respond-to(md) {
  .text-area {
    width: 700px;
  }
}

@include respond-to(sm) {
  .form-control {
    margin: 0 0 12px 0;
    width: 500px;
  }

  .text-area {
    width: 500px;
  }
}

@include respond-to(xs) {
  .form-control {
    margin: 0 0 12px 0;
    width: 300px;
  }
  
  .text-area {
    width: 300px;
  }
}