//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the input component.
// -----------------------------------------------------------------------------

.form-control {
  margin: 0 29px 20px 0;
  width: 372px;
  height: 63px;

  color: $white;

  background-color: transparent;
  border-radius: 12px;

  &:focus {
    background: transparent;
  }
  
  &:active {
    background: transparent;
  }

}


.text-area {
  margin: 0 0 31px 0;
  width: 772px;
  height: 130px;
  
  color: $white;

  background-color: transparent;
  border-radius: 12px;
}
