//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
  transition: all .2s ease-in-out;
  
  .section-banner {
    position: relative;

    padding: 313px 90px 150px 0;
    
    text-align: center;

    background-image: url("../assets/images/banner bg.png");
    background-repeat: no-repeat;
    background-size: cover;

    &:before {
      content:"";

      position: absolute;
      top: 157px;
      right: 127px;
      z-index: 0;

      width: 588px;
      height: 485px;

      background-image: url("../assets/images/paws.png");
      background-repeat: no-repeat;
      background-size: contain;
    }

    h1 { 
      position: absolute;
      z-index: 1;

      margin: 0 0 0 217px;

      font-size: 56px;
      letter-spacing: .9px;
      color: $white;
    }

    .swiper-container {
      width: 1715px;

      .swiper-button-prev {
        top: 207px;
        left: 1609px;

        margin: 0;
        width: 23px;
        height: 36px;
    
        background-image: url("../assets/images/arrow left.png");
      }

      .swiper-button-next {
        top: 131px;
        right: 5px;

        margin: 0;
        width: 23px;
        height: 36px;

        background-image: url("../assets/images/arrow right.png");
      }

      .swiper-slide {
        margin: 42px 0 0 0;
        width: 1715px;

        img {
          margin: 0 87px 0 0;
          width: 1676px;
        }
      }
    }

    .swiper-arrows {
      position: absolute;
      top: 36.5%;
      right: 0;
    }

    .content-wrapper {
      margin: 0 0 0 91px;

      .btn-orange {
        margin: 20px 0 0 0;
      }

      .sidebar {
        position: fixed;
        top: 100px;
        right: 0;
        z-index: 100;
      }

      .banner-dog-lower {
        position: absolute;
        top: 623px;
        right: 37px;
        z-index: 3;
      }

      .banner-paws-left {
        position: absolute;
        top: 400px;
        left: -17px;
      }
    }
  }

  .section-circle-ranch {
    position: relative;

    padding: 0 0 2px 0;

    background-image: url("../assets/images/sup.png");
    background-repeat: no-repeat;
    background-size: cover;

    .content-holder {
      &:nth-child(1) {
        padding: 80px 0 0 3px;

        .title {
          font-size: 37px;
          font-weight: bold;
          letter-spacing: 4px;
          color: $teal;
          text-align: center;
        }
      }

      &:nth-child(2) {
        margin: 0 0 0 200px;

        .desc {
          font-size: 18px;
          font-weight: bold;
          letter-spacing: .4px;
          line-height: 32px;
          color: $teal;
          text-align: center;
    
          &:nth-child(1) {
            margin: 32px 0 0 9px;
            width: 1172px;
          }
    
          &:nth-child(2) {
            margin: 31px 0 0 9px;
            width: 1164px;
          }
    
          &:nth-child(3) {
            margin: 34px 0 0 9px;
            width: 1160px;
          }
        }

        .closing-note {
          margin: 26px 0 0 460px;
    
          font-size: 27px;
          font-weight: bold;
          color: $teal;
        }
      }

      &:nth-child(3) {
        display: flex;
        flex-direction: row;
        margin: 186px 0 0 0;

        .icon {
          margin: 1px 22px 29px 8px;
        }
      }
    }
  }

  .section-cards {
    padding: 87px 0 68px 0;

    background-color: $beige;

    .content-wrapper {
      .content-holder {
        margin: 0 0 22px 208px;
        padding: 46px 0 0 295px;
        width: 1170px;
        height: 260px;

        &:first-child {
          background-image: url("../assets/images/pet boarding 1.png");
          background-repeat: no-repeat;
        }

        &:nth-child(2) {
          background-image: url("../assets/images/pet grooming 1.png");
          background-repeat: no-repeat;
        }

        &:nth-child(3) {
          background-image: url("../assets/images/doggy day care 1.png");
          background-repeat: no-repeat;
        }

        .title {
          margin: 5px 0 0 0;

          font-size: 35px;
          font-weight: bold;
          color: $white;
        }

        .desc {
          margin: 10px 0 0 0;
          width: 700px;

          font-size: 18px;
          line-height: 32px;
          color: $white;
        }

        .cards-arrow {
          position: absolute;
          right: 0;
          z-index: 10;
          
          margin: 0 307px 0 0;
        }
      }
    }
  }

  .section-submission {
    background-image: url("../assets/images/4th section bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    .content-wrapper {
      padding: 0 0 282px 378px;

      .content-holder {
        &:nth-child(1) {
          margin: 0 0 0 170px;

          .submission-pug {
            margin: -76px 0 0 0;
            width: 450px;
          }
        }

        &:nth-child(2) {
          margin: 0 0 0 78px;

          .title {
            margin: 15px 0 16px 176px;
      
            font-size: 40px;
            font-weight: bold;
            color: $white;
          }
      
          .sub-title {
            font-size: 16px;
            letter-spacing: 1.5px;
            color: $white;
          }
        }

        &:nth-child(3) {
          margin: 26px 0 0 0;

          .form-group {
            display: flex;
            flex-direction: column;
            width: 1000px;
      
            .input-holder {
              display: flex;
              flex-direction: row;
      
              &:nth-child(4) {
                margin: 1px 0 0 200px;
              }
            }
      
            ::placeholder { 
              font-size: 14px;
              color: $white;
            }
          }
        }
      }
    }
  }

  .section-dog-month {
    position: relative;

    background-image: url("../assets/images/5th bg.png");
    background-repeat: no-repeat;
    background-size: cover;

    &:before {
      content:"";

      position: absolute;
      top: 81px;
      right: -53px;
      z-index: 0;

      width: 605px;
      height: 910px;

      background-image: url("../assets/images/dog champion.png");
      background-repeat: no-repeat;
      background-size: contain;
    }

    .content-wrapper {
      padding: 0 0 96px 200px;

      .content-holder {
        &:nth-child(1) {
          margin: 0 0 0 89px;

          .dog-month-dog-food {
            z-index: 0;

            margin: -249px 0 0 0;
          }
        }

        &:nth-child(2) {
          margin: -286px 0 0 247px;
          
          .dog-month-paws {
            z-index: 2;

            width: 665px;
          }

          .dog-month-center {
            z-index: 3;

            margin: 22px 0 0 -452px;
            width: 255px;
          }
        }

        &:nth-child(3) {
          margin: 8px 0 0 0;

          .title {
            margin: 0 0 0 334px;
            
            font-size: 60px;
            font-weight: bold;
            letter-spacing: 1.7px;
            color: $white;
          }

          .desc {
            margin: 39px 0 0 13px;
            width: 1150px;
      
            font-size: 20px;
            letter-spacing: .3px;
            line-height: 31px;
            color: $white;
            text-align: center;
          }

          .closing-note {
            margin: 38px 0 0 422px;
            
            font-size: 41px;
            font-weight: bold;
            letter-spacing: 1.7px;
            color: $white;
          }
        }
      }
    }
  }

  .section-testimonials {
    position: relative;

    padding: 146px 0 32px 0;

    background-color: $yellow;

    .swiper-testimonials {
      margin: 34px 34px 0 0;
    }

    .swiper-container {
      padding: 172px 0 0 60px;
      width: 1245px;
      height: 788px;

      background-image: url("../assets/images/6th section slide.png");
      background-repeat: no-repeat;
      background-size: 1280px;

      .swiper-slide {
        width: 1160px !important;

        .title {
          margin: auto;
          width: 335px;

          font-size: 34px;
          font-style: italic;
          font-weight: bold;
          color: $teal;
        }

        .desc{
          margin: 10px auto 0;
          width: 1035px;

          font-size: 16px;
          font-style: italic;
          font-weight: bold;
          line-height: 26px;
          color: $teal;
          text-align: center;
        }

        .testimonials-profile {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 24px 0 0 0;

          .testimonials-pic {
            width: 111px;
          }
  
          .testimonials-name {
            margin: 12px 0 -1px 0;
            width: 100px;
  
            font-size: 25px;
            font-weight: bold;
            color: $teal;
            word-spacing: 8px;
          }
  
          .testimonials-under-name {
  
            font-size: 19px;
            font-weight: bold;
            color: $teal;
          }
        }
      }

      .swiper-pagination-bullet {
        margin: 0 8px 0 8px;
        width: 15px;
        height: 15px;
      }
    }
  }
}
