//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
  transition: all .2s ease-in-out;
  
  .section-banner {
    position: relative;

    padding: 313px 90px 150px 0;
    
    text-align: center;

    background-image: url("../assets/images/banner bg.png");
    background-repeat: no-repeat;
    background-size: cover;

    &:before {
      content:"";

      position: absolute;
      top: 157px;
      right: 127px;
      z-index: 0;

      width: 588px;
      height: 485px;

      background-image: url("../assets/images/paws.png");
      background-repeat: no-repeat;
      background-size: contain;
    }

    h1 { 
      position: absolute;
      z-index: 1;

      margin: 0 0 0 217px;

      font-size: 56px;
      letter-spacing: .9px;
      color: $white;
    }

    .swiper-container {
      width: 1715px;

      .swiper-button-prev {
        top: 229px;
        right: 85px;
    
        background-image: url("../assets/images/arrow left.png");
      }

      .swiper-button-next {
        top: 153px;
        right: 5px;

        background-image: url("../assets/images/arrow right.png");
      }

      .swiper-slide {
        margin: 42px 0 0 0;
        width: 1715px;

        img {
          margin: 0 87px 0 0;
          width: 1676px;
        }
      }
    }

    .swiper-arrows {
      position: absolute;
      top: 36.5%;
      right: 0;
    }

    .content-wrapper {
      margin: 0 0 0 91px;

      .btn-orange {
        margin: 20px 0 0 0;
      }

      .sidebar {
        position: fixed;
        top: 100px;
        right: 0;
        z-index: 100;
      }

      .banner-golden-dog {
        position: absolute;
        top: 623px;
        right: 37px;
        z-index: 3;
      }

      .banner-paw-prints {
        position: absolute;
        top: 400px;
        left: -17px;
      }
    }
  }

  .section-circle-ranch {
    position: relative;

    padding: 0;

    background-color: $white;

    &:before {
      content:"";

      position: absolute;
      top: -52px;
      left: -47px;
      z-index: 0;

      width: 588px;
      height: 780px;

      background-image: url("../assets/images/side dog.png");
      background-repeat: no-repeat;
      background-size: contain;
    }


    .content-holder {
      &:nth-child(1) {
        padding: 80px 0 0 3px;

        .title {
          font-size: 37px;
          font-weight: bold;
          letter-spacing: 4px;
          color: $teal;
          text-align: center;
        }
      }

      &:nth-child(2) {
        margin: 0 0 0 200px;

        .desc {
          font-size: 18px;
          font-weight: bold;
          letter-spacing: .4px;
          line-height: 32px;
          color: $teal;
          text-align: center;
    
          &:nth-child(1) {
            margin: 32px 0 0 9px;
            width: 1172px;
          }
    
          &:nth-child(2) {
            margin: 31px 0 0 9px;
            width: 1164px;
          }
    
          &:nth-child(3) {
            margin: 34px 0 0 9px;
            width: 1160px;
          }
        }

        .closing-note {
          margin: 26px 0 0 460px;
    
          font-size: 27px;
          font-weight: bold;
          color: $teal;
        }
      }

      &:nth-child(3) {
        display: flex;
        flex-direction: row;
        margin: -17px 0 0 0;

        background-image: url("../assets/images/2nd section.png");
        background-repeat: no-repeat;
        background-size: cover;
    
        .icon {
          margin: 202px 22px 29px 8px;

          &:nth-child(3) {
            .facilities-text{ 
              width: 145px;
              margin: 15px 0 0 15px;
            }
          }

          &:nth-child(4) {
            .facilities-text{ 
              width: 70px;
              margin: 15px 0 0 54px;
            }
          }

          &:nth-child(5) {
            .facilities-text{ 
              width: 70px;
              margin: 15px 0 0 54px;
            }
          }

          &:nth-child(6) {
            .facilities-text{ 
              width: 180px;
              margin: 15px 0 0 -2px;
            }
          }

          &:nth-child(7) {
            margin: 202px 26px 29px 2px;
          }

          &:nth-child(8) {
            margin: 202px 5px 29px 3px;

            .facilities-text{
              width: 85px;
              margin: 15px 0 0 37px;
            }
          }
        }

        .facilities-text {
          margin: 15px 0 0 2px;

          font-size: 21px;
          font-weight: bold;
          letter-spacing: 1px;
          color: $white;
          text-align: center;
        }
      }
    }
  }

  .section-cards {
    padding: 85px 0 68px 0;

    background-color: $beige;

    .content-wrapper {
      .content-holder {
        position: relative;

        display: flex;
        flex-direction: row;
        margin: 0 0 20px 208px;
        padding: 9px 0 0 31px;
        width: 73.8%;
        height: 262px;

        &:first-child {
          background:linear-gradient(90deg, #0a7879 0%, #1da088 100% );
          border-radius: 20px;

          .dog-icons {
            margin: 0 0 0 2px;
          }

          .text-and-arrow {
            margin: 35px 0 0 17px;
          }
        }

        &:nth-child(2) {
          background:linear-gradient(90deg, #63bf4f 0%, #96b95e 100% );
          border-radius: 20px;

          .dog-icons {
            margin: 13px 0 0 2px;
          }

          .text-and-arrow {
            margin: 35px 0 0 48px;
          }
        }

        &:nth-child(3) {
          background:linear-gradient(90deg, #e69a21 0%, #f4d823 100% );
          border-radius: 20px;

          .dog-icons {
            margin: 12px 0 0 1px;
          }

          .text-and-arrow {
            margin: 35px 0 0 37px;
          }
        }

        .title {
          margin: 5px 0 0 0;

          font-size: 35px;
          font-weight: bold;
          color: $white;
        }

        .desc {
          margin: 10px 0 0 0;
          width: 700px;

          font-size: 18px;
          line-height: 32px;
          color: $white;
        }

        .cards-arrow {
          position: absolute;
          right: 0;
          z-index: 10;
          
          margin: 0 -60px 0 0;
        }
      }
    }
  }

  .section-submission {
    background-image: url("../assets/images/4th section bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    .content-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 0 282px 0;

      .content-holder {
        &:nth-child(2) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        &:nth-child(3) {
          margin: 8px 0 0 0;
          width: 830px;
        }

        .submission-pug {
          margin: -78px 38px 0 0;
          width: 450px;
        }

        .title {
          margin: 15px 0 16px 0;
          width: 325px;
    
          font-size: 40px;
          font-weight: bold;
          color: $white;
        }
    
        .sub-title {
          font-size: 16px;
          letter-spacing: 1.5px;
          color: $white;
        }

        .form-group {
          display: flex;
          flex-direction: column;
          width: 1000px;
    
          .input-holder {
            display: flex;
            flex-direction: row;
    
            &:nth-child(4) {
              margin: 1px 0 0 200px;
            }
          }
    
          ::placeholder { 
            font-size: 14px;
            color: $white;
          }
        }
      }
    }
  }

  .section-dog-month {
    position: relative;

    background-image: url("../assets/images/5th bg.png");
    background-repeat: no-repeat;
    background-size: cover;

    &:before {
      content:"";

      position: absolute;
      top: 81px;
      right: -53px;
      z-index: 0;

      width: 605px;
      height: 910px;

      background-image: url("../assets/images/dog champion.png");
      background-repeat: no-repeat;
      background-size: contain;
    }

    .content-wrapper {
      padding: 0 0 96px 200px;

      .content-holder {
        &:nth-child(1) {
          margin: 0 0 0 89px;

          .dog-month-dog-food {
            z-index: 0;

            margin: -249px 0 0 0;
          }
        }

        &:nth-child(2) {
          margin: -286px 0 0 247px;
          
          .dog-month-paws {
            z-index: 2;

            width: 665px;
          }

          .dog-month-center {
            z-index: 3;

            margin: 22px 0 0 -452px;
            width: 255px;
          }
        }

        &:nth-child(3) {
          margin: 8px 0 0 0;

          .title {
            margin: 0 0 0 334px;
            
            font-size: 60px;
            font-weight: bold;
            letter-spacing: 1.7px;
            color: $white;
          }

          .desc {
            margin: 39px 0 0 13px;
            width: 1150px;
      
            font-size: 20px;
            letter-spacing: .3px;
            line-height: 31px;
            color: $white;
            text-align: center;
          }

          .closing-note {
            margin: 38px 0 0 422px;
            
            font-size: 41px;
            font-weight: bold;
            letter-spacing: 1.7px;
            color: $white;
          }
        }
      }
    }
  }

  .section-testimonials {
    position: relative;

    padding: 40px 0 0 0;

    background-color: $yellow;

    .swiper-testimonials {
      margin: 83px 0 0 0;
    }

    .swiper-container {
      padding: 107px 0 0 32px;
      width: 1340px;
      height: 877px;

      .testimonial-circle {
        margin: -47px 0 0 528px;
      }

      .swiper-slide {
        padding: 0 0 0 20px;
        width: 1285px;

        background-image: url("../assets/images/6th section slide.png");
        background-repeat: no-repeat;
        background-size: 1280px;
      }

      .swiper-pagination-bullet {
        margin: 0 8px 0 8px;
        width: 15px;
        height: 15px;
      }
    }

    .title {
      margin: -10px 0 0 445px;
      width: 335px;

      font-size: 34px;
      font-style: italic;
      font-weight: bold;
      color: $teal;
    }

    .desc{
      margin: 10px auto 0;
      width: 1035px;

      font-size: 16px;
      font-style: italic;
      font-weight: bold;
      line-height: 26px;
      color: $teal;
      text-align: center;
    }

    .testimonials-profile {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 24px 44px 0 0;

      .testimonials-pic {
        width: 111px;
      }

      .testimonials-name {
        margin: 12px 0 -1px 0;
        width: 100px;

        font-size: 25px;
        font-weight: bold;
        color: $teal;
        word-spacing: 8px;
      }

      .testimonials-under-name {

        font-size: 19px;
        font-weight: bold;
        color: $teal;
      }
    }
  }
}

@include respond-to(lg) {
  .home {
    .section-banner {
      padding: 313px 0 60px 0;
      
      &:before {
        top: 87px;
        right: 130px;

        width: 500px;
        height: 412px;    
      }
  
      h1 {   
        margin: -40px 0 0 3%;
        width: 940px;

        font-size: 40px;
      }
  
      .swiper-container {
        width: 992px;
        height: 280px;
  
        .swiper-button-prev {
          top: 229px;
          right: 85px;
        }
  
        .swiper-button-next {
          top: 153px;
          right: 5px;
        }
  
        .swiper-slide {
          margin: 0;
          width: 992px;
  
          img {
            width: 992px;
          }
        }
      }
  
      .swiper-arrows {
        top: 400px;
        z-index: 2;
      }
  
      .content-wrapper {
        margin: 0;
  
        .btn-orange {
          margin: 20px 0 0 0;
        }
  
        .banner-golden-dog {
          display: none;
        }
  
        .banner-paw-prints {
          top: 150px;
          left: 10px;
        }
      }
    }

    .section-circle-ranch {
      padding: 0;

      &:before {
        top: -185px;
        left: 0;

        width: 195px;
        height: 380px;
      }
  
      .content-holder {
        &:nth-child(1) {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 80px 0 0 0;
  
          .title {
            width: 460px;

            letter-spacing: 0;
          }
        }
  
        &:nth-child(2) {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0;
  
          .desc {      
            &:nth-child(1) {
              margin: 32px 0 0 9px;
              width: 900px;
            }
      
            &:nth-child(2) {
              margin: 31px 0 0 9px;
              width: 900px;
            }
      
            &:nth-child(3) {
              margin: 34px 0 0 9px;
              width: 900px;
            }
          }
  
          .closing-note {
            margin: 26px 0 0 0;
            width: 275px;
          }
        }
  
        &:nth-child(3) {
          display: flex;
          flex-direction: row;
          margin: -17px 0 0 0;
  
          background-image: url("../assets/images/2nd section.png");
          background-repeat: no-repeat;
          background-size: cover;
      
          .icon {
            margin: 202px 0 29px 8px;

            img {
              width: 112px;
            }
  
            &:nth-child(3) {
              .facilities-text{ 
                width: 115px;
                margin: 15px 0 0 5px;
              }
            }
  
            &:nth-child(4) {
              .facilities-text{ 
                margin: 15px 0 0 22px;
              }
            }
  
            &:nth-child(5) {
              .facilities-text{ 
                margin: 15px 0 0 22px;
              }
            }
  
            &:nth-child(6) {
              margin: 202px 3px 29px 8px;

              .facilities-text{ 
                width: 122px;
                margin: 15px 0 0 -2px;
              }
            }
  
            &:nth-child(7) {
              margin: 202px 3px 29px 2px;
            }
  
            &:nth-child(8) {
              margin: 202px 5px 29px 3px;
  
              .facilities-text{
                width: 85px;
                margin: 15px 0 0 37px;
              }
            }
          }
  
          .facilities-text {
            margin: 15px 0 0 2px;
  
            font-size: 17px;
          }
        }
      }
    }

    .section-cards {  
      .content-wrapper {
        .content-holder {
          margin: 0 0 22px 31px;
          padding: 25px 0 0 31px;
          width: 90%;
          height: 242px;
  
          &:first-child {
          }

          .text-and-arrow {
            margin: 0 0 0 10px;
          }
  
          &:nth-child(2) {
            .text-and-arrow {
              margin: 0 0 0 10px;
            }
          }
  
          &:nth-child(3) {
            .text-and-arrow {
              margin: 0 0 0 10px;
            }
          }

          .dog-icon {
            width: 190px;
          }

          .cards-arrow {           
            margin: 2% -50px 0 0;
            width: 150px;
          }
  
          .title {
            margin: 5px 0 0 0;
          }
  
          .desc {
            margin: 10px 0 0 0;
            width: 90%;
          }
        }
      }
    }
    

    .section-testimonials {   
      .swiper-testimonials {
        margin: 0 !important;
      }

      .swiper-container {
        padding: 107px 0 0 0;
        width: 970px;
        height: 760px;
  
        .testimonial-circle {
          margin: -70px 0 0 40%;
        }
  
        .swiper-slide {
          padding: 0;
          width: 970px;

          background-size: 970px;
        }
      }
  
      .title {
        margin: -46px auto 0;
        width: 300px;

        font-size: 30px;
      }
  
      .desc{
        margin: 10px auto 0;
        width: 830px;
      }
  
      .testimonials-profile {
        margin: 0 44px 0 0;
  
        .testimonials-pic {
          width: 95px;
        }
  
        .testimonials-name {
          margin: 7px 0 -1px 0;
          width: 100px;
        }
      }
    }
  }
}

@include respond-to(md) {
  .home {
    .section-banner {
      padding: 313px 0 60px 0;
      
      &:before {
        top: 87px;
        right: 15px;

        width: 400px;
        height: 330px;  
      }
  
      h1 {   
        margin: -110px 20px;
        width: 95%;

        font-size: 40px;
      }
  
      .swiper-container {
        width: 760px;
        height: 280px;
  
        .swiper-button-prev {
          top: 229px;
          right: 85px;
        }
  
        .swiper-button-next {
          top: 153px;
          right: 5px;
        }
  
        .swiper-slide {
          margin: 0;
          width: 760px;
  
          img {
            width: 760px;
          }
        }
      }
  
      .swiper-arrows {
        top: 360px;
        z-index: 2;
      }
  
      .content-wrapper {
        margin: 0;
  
        .btn-orange {
          margin: 20px 0 0 0;
        }
  
        .banner-golden-dog {
          display: none;
        }
  
        .banner-paw-prints {
          top: 150px;
          left: 10px;
        }
      }
    }

    .section-cards {
      .content-wrapper {
        .content-holder {
          margin: 0 0 22px 20px;
          padding: 24px 0 0 31px;
          width: 90%;
          height: 235px;
  
          &:first-child {
            .text-and-arrow {
              margin: 0 0 0 10px;
            }
          }
  
          &:nth-child(2) {
            .text-and-arrow {
              margin: 0 0 0 10px;
            }
          }
  
          &:nth-child(3) {
            .text-and-arrow {
              margin: 0 0 0 10px;
            }
          }

          .dog-icon {
            width: 160px;
          }

          .cards-arrow {           
            margin: 2% -50px 0 0;
            width: 140px;
          }
  
          .title {
            margin: 5px 0 0 0;
  
            font-size: 35px;
          }
  
          .desc {
            margin: 10px 0 0 0;
            width: 90%;
          }
        }
      }
    }

    .section-submission {
      .content-wrapper {
        .content-holder {
          &:nth-child(3) {
            margin: 8px 0 0 25px;
            width: 730px;
  
            .form-group {
              width: 730px;
        
              .input-holder {        
                &:nth-child(4) {
                  margin: 1px 0 0 20%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include respond-to(sm) {
  .home {
    .section-banner {
      padding: 313px 0 60px 0;
      
      &:before {
        top: 87px;
        right: 15px;

        width: 400px;
        height: 330px;  
      }
  
      h1 {   
        margin: -110px 20px;
        width: 95%;

        font-size: 30px;
      }
  
      .swiper-container {
        width: 570px;
        height: 280px;
  
        .swiper-button-prev {
          top: 229px;
          right: 85px;
        }
  
        .swiper-button-next {
          top: 153px;
          right: 5px;
        }
  
        .swiper-slide {
          margin: 0;
          width: 570px;
  
          img {
            width: 570px;
          }
        }
      }
  
      .swiper-arrows {
        top: 360px;
        z-index: 2;
      }
  
      .content-wrapper {
        margin: 0;
  
        .btn-orange {
          margin: 20px 0 0 0;
        }
  
        .banner-golden-dog {
          display: none;
        }
  
        .banner-paw-prints {
          top: 150px;
          left: 10px;
        }
      }
    }

    .section-cards {
      .content-wrapper {
        .content-holder {
          flex-direction: column;
          margin: 0 0 70px 30px;
          padding: 24px 0 0 30px;
          width: 92%;
          height: 435px;
  
          &:first-child {
            .text-and-arrow {
              margin: 0 0 0 10px;
            }
          }
  
          &:nth-child(2) {
            .text-and-arrow {
              margin: 0 0 0 10px;
            }
          }
  
          &:nth-child(3) {
            .text-and-arrow {
              margin: 0 0 0 10px;
            }
          }

          .icon {
            margin: 0 auto;
            .dog-icon {
              width: 160px;
            }           
          }


          .cards-arrow {   
            top: 81%;

            right: 50%;
            width: 140px;
          }
  
          .title {
            margin: 5px 0 0 0;
  
            font-size: 35px;
          }
  
          .desc {
            margin: 10px 0 0 0;
            width: 99%;
          }
        }
      }
    }

    .section-submission {
      .content-wrapper {
        .content-holder {
          &:nth-child(2) {
            .sub-title {
              width: 500px;

              text-align: center;
            }
          }

          &:nth-child(3) {
            width: 500px;
  
            .form-group {
              width: 500px;
              margin: 0 auto;

              .input-holder {  
                flex-direction: column;   
                
                &:nth-child(4) {
                  margin: 0;
                }
              }
            }
          }

          .submission-pug {
            margin: 6px 38px 0 0;
            width: 350px;
          }
        }
      }
    }
  }
}

@include respond-to(xs) {
  .home {
    .section-banner {
      padding: 313px 0 60px 0;
      
      &:before {
        top: 130px;
        right: 15px;

        width: 200px;
        height: 170px;
      }
  
      h1 {   
        margin: -110px 20px;
        width: 95%;

        font-size: 30px;
      }
  
      .swiper-container {
        width: 310px;
        height: 280px;
  
        .swiper-button-prev {
          top: 229px;
          right: 85px;
        }
  
        .swiper-button-next {
          top: 153px;
          right: 5px;
        }
  
        .swiper-slide {
          margin: 0;
          width: 310px;
  
          img {
            width: 310px;
          }
        }
      }
  
      .swiper-arrows {
        top: 360px;
        z-index: 2;
      }
  
      .content-wrapper {
        margin: 0;
  
        .btn-orange {
          margin: 20px 0 0 0;
          padding: 18px 90px;

          font-size: 18px;
        }
  
        .banner-golden-dog {
          display: none;
        }
  
        .banner-paw-prints {
          top: 150px;
          left: 10px;
        }
      }
    }

    .section-cards {
      padding: 55px 0 68px 0;

      .content-wrapper {
        .content-holder {
          flex-direction: column;
          margin: 0 auto 85px;
          padding: 15px 0 0 12px;
          width: 82%;
          height: 430px;
  
          &:first-child {
            .text-and-arrow {
              margin: 0 0 0 10px;
            }
          }
  
          &:nth-child(2) {
            .text-and-arrow {
              margin: 0 0 0 10px;
            }
          }
  
          &:nth-child(3) {
            .text-and-arrow {
              margin: 0 0 0 10px;
            }
          }

          .form-group {
            margin: 0 auto;
          }

          .icon {
            margin: 0 auto;
            .dog-icon {
              width: 160px;
            }           
          }


          .cards-arrow {   
            top: 86%;
            right: 52%;

            width: 140px;
          }
  
          .title {
            margin: 5px 0 0 0;
  
            font-size: 31px;
          }
  
          .desc {
            margin: 10px 0 0 0;
            width: 99%;

            font-size: 14px;
            line-height: 24px;
          }
        }
      }
    }

    .section-submission {
      .content-wrapper {
        .content-holder {
          &:nth-child(2) {
            .sub-title {
              width: 300px;

              text-align: center;
            }
          }

          &:nth-child(3) {
            width: 300px;
  
            .form-group {
              width: 300px;
              margin: 0 auto;

              .input-holder {  
                flex-direction: column;   
                
                &:nth-child(4) {
                  margin: 0;
                }
              }
            }
          }

          .submission-pug {
            margin: 23px 18px 0 0;
            width: 275px;
          }

          .title {
            margin: 15px 0 16px 0;
            width: 295px;

            font-size: 36px;
          }
        }
      }
    }
  }
}